/*NETBOOK*/

@media screen and (min-height: 900px) {
    #portfolio-details {
        height: 720px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        -ms-touch-action: none;
    }
    #scroller {
        position: absolute;
        z-index: 1;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        width: 100%;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;
    }
    #main {
        /*  overflow: auto;
       -webkit-overflow-scrolling: touch; */
    }
    #top-left-fixed-block,
    #portfolio-details,
    #luxembourg #portfolio > .portfolio-nav > span,
    #portfolio-details > div:last-child > nav > a.close > img,
    #luxembourg #portfolio > .portfolio-tab > .column > .prow > div,
    #luxembourg #portfolio > .portfolio-tab,
    #luxembourg #portfolio > .portfolio-tab > .column > .prow .thumb_nb,
    #luxembourg #portfolio > .portfolio-tab > .column > .prow .thumb_color,
    #luxembourg #portfolio > .portfolio-tab > .column > .prow > div > .shadow,
    #luxembourg #portfolio > .portfolio-tab > .column > .prow > div > .description,
    #luxembourg #portfolio > .portfolio-tab > .column > .prow > div > .linkIcon {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
    #top-left-fixed-block {
        right: 2%;
        top: 2%;
    }
    #slides_about_me {
        width: 70%;
    }
    .stickers_next {
        right: -2%;
    }
    #portfolio-details > div:first-child {
        width: 43%;
    }
    #portfolio-details > div:last-child {
        width: 57%;
    }
    #portfolio-details > div:last-child > section > article {
        display: block;
        margin: 0;
        width: 76%;
    }
    #portfolio-details > div:last-child > section > .slideshow {
        display: block;
        margin-top: 5%;
        width: 76%;
    }
    #portfolio-details > div:last-child > nav > a.close {
        top: -8px;
    }
    #portfolio-details > div:last-child > section > article .flickr-and-cie {
        width: 75%;
    }
    .mCustomScrollBox {
        height: 99%;
    }
    #portfolio-details > div:first-child .row > .col:last-child > h1 {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 2200px) {
    .mainPicture {
        -webkit-background-size: cover;
        background-size: cover;
    }
    #portfolio-details {
        height: 830px;
    }
}
@media screen and (min-width: 500px) and (max-width: 1500px) {

 .mainPicture{
   display: block;
    /* min-width: 990px;*/
    background-image: url(../images/india.jpg);
    height:61.42%;
    background-position:50% 0px;
  }
 .mainPicture2{
    display: none;
  }
}

/*MOBILE*/
@media screen and (max-width:500px){

   .mainPicture {
    display: none;
  }
 .mainPicture2{
    display: block;
    background-color: #fff;
    background-image: url(../images/mobile-landing.png);
    background-size: cover;
        min-height: 500px;
        margin: 0 auto;
        background-position: center 0px;
        background-repeat: no-repeat;
    /*     -webkit-background-size: cover;
    background-size: cover; */
        /*-webkit-background-size: 100%;
        background-size: 100%;*/
        position: relative;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        will-change : background-position;


  }
}
